<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appkite.jordiguzman.com.activitylibjokes">

    <application>
        <activity android:name=".ActivityJoke"
           android:parentActivityName=".ActivityJoke"/>
    </application>

</manifest>